main {
  background-color: #00000098;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url(../assets/images/pipboybackground.jpg);
  background-repeat: none;
  background-size: cover;
}

/* SECTION Navbar */
.navbar {
  background-color: #00000084;
}

.nav-button {
  color: #33ff00;
  background-color: #28282800;
  border: none;
  text-decoration: none;
}

.nav-button:hover {
  color: #33ff00;
}

@media (max-width: 768px) {
  .navbar-height {
    height: 5rem;
    padding: 0%;
  }
}

/* SECTION Hero */

.hero-name {
  color: #33ff00;
  text-shadow: #282828 2px 2px;
  font-size: 46px;
  letter-spacing: 2px;
}

.hero-title {
  color: #33ff00;
  text-shadow: #282828 2px 2px;
  font-size: 42px;
  letter-spacing: 2px;
}

.hero-motto {
  color: #33ff00;
  text-shadow: #282828 2px 2px;
  font-size: 24px;
  letter-spacing: 2px;
}


.hero-pipboy-img {
  height: 37.5rem;
  border-radius: 10px;
  box-shadow: #33ff00 5px 5px 5px 0px, #33ff00 0px 0px 5px 8px;
  background-color: #33ff00;
  background-image: linear-gradient(#33ff003e, #33ff003e), url(../assets/images/EricBnW.JPG);
  background-size: cover;
  background-position-y: 35%;
}

@media (max-width: 768px) {
  .hero-pipboy-img {
    width: 90vh;
    border-radius: 10px;
    box-shadow: #33ff00 5px 5px 5px 0px, #33ff00 0px 0px 5px 5px;
    background-image: linear-gradient(#33ff003e, #33ff003e), url(../assets/images/EricBnW.JPG);
    background-size: cover;
    background-position-y: 25%;
  }

  .hero-name {
    color: #33ff00;
    text-shadow: #282828 2px 2px;
    font-size: 38px;
    letter-spacing: 2px;
  }

  .hero-title {
    color: #33ff00;
    text-shadow: #282828 2px 2px;
    font-size: 17px;
    letter-spacing: 2px;
  }

  .hero-motto {
    color: #33ff00;
    text-shadow: #282828 2px 2px;
    font-size: 16px;
    letter-spacing: 2px;
  }
}

@media (max-width: 1000px) {
  .hero-pipboy-img {
    height: 30rem;
    border-radius: 10px;
    box-shadow: #33ff00 5px 5px 5px 0px, #33ff00 0px 0px 5px 5px;
    background-image: linear-gradient(#33ff003e, #33ff003e), url(../assets/images/EricBnW.JPG);
    background-size: cover;
    background-position: center;
  }
}


.title-expand {
  -webkit-animation: title-expand 1.5s cubic-bezier(0.225, 0.600, 0.350, 1.000) both;
  animation: title-expand 1.5s cubic-bezier(0.225, 0.600, 0.350, 1.000) both;
}

@-webkit-keyframes title-expand {
  0% {
    letter-spacing: -0.8rem;
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes title-expand {
  0% {
    letter-spacing: -0.8rem;
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}


.fade-in-hero {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}













/* SECTION Utilities */
.elevation {
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 12px 0 rgba(0, 0, 0, 0.12);
}

.fs-md {
  font-size: 22px;
}

.fs-lg {
  font-size: 32px;
}

.fs-xl {
  font-size: 44px;
}

.letter-space {
  letter-spacing: 2px;
}

.paragraph {
  margin-left: 0%;
  margin-right: 15%;
}

@media (max-width: 768px) {
  .paragraph {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.text-retro {
  color: #33ff00;
}

.text-shadow {
  text-shadow: #9a9a9a 1px 2px;
}

.rounded {
  border-radius: 5px;
}

.divider {
  background-color: #33ff00;
  height: 5px;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.border-thick {
  border: #33ff00 7px solid;
  padding-right: .5rem;
  padding-left: .5rem;
}